@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}


.zoomHeading{
    margin-top: 50px;
    margin-bottom: 25px;
    /* color:red; */
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}


.zoomwrapper{
    width:95%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6,1fr);
    gap:12px;
    cursor: pointer;
    overflow: hidden;
}

/* .zoomwrapper img{
    width: 100%;
    height:250px;
    transition-duration: 0.5s all ease-in-out;
}

.zoomwrapper:hover img{

    transform: scale(1.05);
} */
.zoomProduct{
    overflow: hidden;
    margin: 0 auto;
}
.zoomProduct img{
    width: 100%;
    transition: 0.3s all ease-in-out;
}
.zoomProduct:hover img{
    transform: scale(1.1);
}
.zoomwrapper p{
    margin-top: 10px;
    color:rgb(31, 31, 27);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
}
.smiling{

    margin-top: 35px;
}
.smileFirst{

    width:82%;
    margin:auto;
}
.smileSecond{
    margin-top: 30px;
}

.smileFourth{
    margin-top: 50px;
}

.flowerCard{
    display: grid;
    width: 93%;
    margin: auto;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
}
.name{
    margin-top: 5px;
    text-align: left;
    font-size: 14px;
    color:#212121;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.price{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}
.insta{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta p{
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.span{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 25px;
}
.insta div:nth-child(1){
    margin-right: 7px;

    text-align: center;
}
.insta img{
    width: 100%;
    height: 33px;
}

.instaImages{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 20px;
}

.zoomInsta{
    overflow: hidden;
    margin: 0 auto;
}
.zoomInsta img{
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.zoomInsta:hover img{
    transform: scale(1.2);
}