


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
.first{
    /* display: grid;
    grid-template-columns: repeat(11,1fr); */
    width: 100%;
    height: 53px;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.first  div{
    /* padding:10px; */
    padding: 10px 29px 10px 29px;
    display: block;
    text-align: center;
    border-right: 1px solid #f5f5f5;
    transition-duration: .3s;
}
.first  div:hover{
    border-bottom: 2px solid black;
}
.first img{
    width:100%;
    height:32px;
    max-width: 86px;
    /* vertical-align: middle; */
}

.second{
    width: 100%;
    height: 65px;
    display: flex;
    /* border-bottom: 1px solid rgba(47, 47, 47, 0.46); */
}
.logo{
    /* padding-top: 10px; */
    width:15%;

}
.logo img{
    width:100%;
    height:63px;
}
.search{
    display: flex;
    /* border:1px solid black; */
    width:55%;
    align-items: center;
    justify-content:end;
    /* height:65px; */
}
.search input{
    width:70%;
    padding-left: 10px;
    height:40px;
    color:gray;
    font-size: 15px;
    border:1px solid #e8eaec;
    outline: none;
    margin-top: 19px;
    border-radius: 0;
    box-shadow: none;
}
.search button{
    width:16%;
    height:40px;
    background-color: #65388b;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border: #65388b;
    border-radius: 0;
}



.signIn{
    width:6%;
    margin-top: 5px;
    margin-left: 152px;
    cursor: pointer;

}
.signIn > div:nth-child(1){
    margin-top: 2px;
}
.signIn > div:nth-child(2){
    padding-bottom: 2px;
    /* border: 1px solid chocolate; */
}
.signIn p{
    font-size: 12px;
    color:#000;
    text-align: center;
    font-family: LatoMedium,sans-serif

}
.signIn img{
    display: inline-block;
    /* border: 1px solid black; */
    text-align: center;
    width: auto;
    max-height: 26px;
    /* margin-bottom: 2px; */
    /* padding-top: 7px; */
}
.myOrder > div:nth-child(1){
    margin-top: 2px;
}
.myOrder > div:nth-child(2){
    padding-bottom: 2px;
    /* border: 1px solid chocolate; */
}
.myOrder{
    width:6%;
    margin-top: 5px;
    cursor: pointer;
    /* margin-left: 15px;
    margin-right: 15px; */

}

.myOrder p{
    font-size: 12px;
    color:#000;
    text-align: center;
}
.myOrder img{
    display: inline-block;
    text-align: center;
    width: auto;
    max-height: 26px;
    margin-bottom: 2px;
    /* padding-top: 7px; */
}
.cart{
    width:6%;
    margin-top: 5px;
    cursor: pointer;

}

.cart > div:nth-child(1){
    margin-top: 2px;
}
.cart > div:nth-child(2){
    padding-bottom: 2px;
    /* border: 1px solid chocolate; */
}
.cart p{
    font-size: 12px;
    color:#000;
    text-align: center;
    padding-bottom: 10px;
}
.cart img{
    display: inline-block;
    text-align: center;
    width: auto;
    max-height: 26px;
    margin-bottom: 2px;
    /* padding-top: 7px; */
}





